  <%-include partial/header%>
  <%-include partial/menuBar%>
        <li role="presentation" class="active"><a href="/">Home</a><br></li>
        <li role="presentation"><a href="/subjects">SUBJECTS</a>
        <li role="presentation" class="dropdown"><a href="#">STUDENTS<span class="caret"></span></a>
            <div class="dropdown-content">
              <a href="/students">Show Students Data</a><br>
              <a href="/students/add">Add Students</a>
          </div>
         </li>
        <li role="presentation" class="dropdown"><a href="#">TEACHER<span class="caret"></span></a>
            <div class="dropdown-content">
              <a href="/teachers">Show Teachers Data</a><br>
              <a href="/teachers/add">Add Teacher</a>
          </div>
         </li>
        <li role="presentation"><a href="/logout">LOGOUT</a>
    </ul>
    <body>
    <div class="type">
    <%if(err_msg){%>
      <h1><font color="red">You don't have authority to open <%=err_msg%> data</font></h1>
    <%}%>
      <h1 class="type-r2">Hacktiv8 School Database</h1>
  </div>
  <%- include partial/footer%>
