<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hacktiv8 School Database</title>
  </head>
  <h1>Hacktiv8 School Database</h1>
  <body>
  <a href="/subjects">SUBJECTS</a><br><br>
  <a href="/students">STUDENTS</a><br><br>
  <a href="/teachers">TEACHER</a><br><br>
  </body>
</html>
