<!DOCTYPE html>
<html>
  <%-include partial/header%>
  <!-- <head>
    <meta charset="utf-8">
    <title></title>
  </head> -->
  <!-- <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="/">Home</a><br></li>
        <li role="presentation"><a href="/subjects">SUBJECTS</a><br><br>
        <li role="presentation"><a href="/students">STUDENTS</a><br><br>
        <li role="presentation"><a href="/teachers">TEACHER</a><br><br>
    </ul> -->
  <div class="type-r1">
    <h1 class="type-r3">Login Page</h1>
  <body>
    <form action="/login" method="post">
      <input type="text" name="username" value="" placeholder="username">
      <input type="password" name="password" value="" placeholder="password">
      <button type="submit" name="button">Login</button>
    </form>
    <%if(err_msg){%>
      <p><font color="red">Either your username or password doesn't exist</font></p>
    <%}%><br>
    <p>Register if you dont't have account</p>
    <a href="/register"><button type="button" name="button">register</button></a>
  </body>
</div>
</html>
