  <%-include partial/header%>
  <div class="type-r1">
    <h1 class="type-r3">Login Page</h1>
  <body>
    <form action="/login" method="post">
      <input type="text" name="username" value="" placeholder="username">
      <input type="password" name="password" value="" placeholder="password">
      <button type="submit" name="button">Login</button>
    </form>
    <%if(err_msg){%>
      <p><font color="red">Either your username or password doesn't exist</font></p>
    <%}%><br>
    <p>Register if you don't have account</p>
    <a href="/register"><button type="button" name="button">register</button></a>
  <%-include partial/footer%>
